.textContainer {
  display: flex;
  height: 80%;
  flex-direction: column;
  color: #98D2EB;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #98D2EB;
  justify-content: space-between;
  width: 20%;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  color: #98D2EB !important;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}

.title{
  background-color: #212223;
  border-radius: 10px;

}

.usersinserver{
  background-color: #212223;
  border-radius: 10px;
  text-align: center !important;
}